.git
.gitignore
.github
.vscode
.idea
.env
.env.*
node_modules
.next
out
dist
build
coverage
*.md
!README.md
docker
docker-compose*.yml
.dockerignore
*.log
.turbo
.vercel
.husky
tests
__tests__
*.test.*
*.spec.*
jest.config.*
cypress
.storybook
storybook-static
sonar-project.properties
